*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.settings
.project
.classpath
.studio
target

# Apple # 
.DS_Store

# Intellij #
.idea
*.iml
*.log

# VSCode
.vscode

# logback
logback.out.xml

backend/src/main/resources/public/
backend/target
frontend/service/dist/
frontend/service/node/
frontend/service/node_modules/
frontend/service/npm-debug.log
frontend/service/target
frontend/service/test-output
frontend/service/tests/e2e/reports
frontend/service/tests/unit/coverage
frontend/service/yarn-error.log
frontend/service/yarn.lock
frontend/admin/node_modules/

security/target/
selenium-debug.log

!.mvn/wrapper/maven-wrapper.jar
